* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.containername1 {
  display: flex;

  flex-direction: column;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.inner-container {
  width: 100%;
}
.inner-center-container {
  width: 80%;
}
.container1 {
  display: flex;
}
/* .container1 div {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-inline: 10px;
    background-color: lightblue;
  } */

.container1 div {
  margin-inline: 10px;
}
.container2 {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-evenly {
  display: flex;
  justify-content: space-evenly;
}
.justify-around {
  display: flex;
  justify-content: space-around;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}

.fh {
  height: 100vh;
}
/* paddings */
.pr-10 {
  padding-right: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-10 {
  padding-left: 10px;
}

.pr-20 {
  padding-right: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.pr-30 {
  padding-right: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pl-30 {
  padding-left: 30px;
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 1;
}
.p-2 {
  padding: 2;
}
.p-10 {
  padding: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}
.pv-20 {
  padding: 20px 0px;
}

.mab-10 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.ma-20 {
  margin-top: 20px;
}

.ma-50 {
  margin-top: 50px;
}

.pa-20 {
  padding: 20px;
}

.ims {
  /* width: 300px;  */
  height: 100%;
  width: 100%;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  overflow: hidden;
  transition-delay: 0s;
  position: relative;
  vertical-align: bottom;
}

.ims:hover {
  transform: scale(1.2);
}

.mr-20 {
  margin-right: 20px;
}
.di {
  display: inline;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.inner-container5 hr {
  margin: 10px 0px 10px 0px;
}

.g-100 {
  gap: 100px;
}
.bo-10 {
  border-style: solid;
}
.ma-200 {
  margin-top: 200px;
}

.circleanimation {
  width: 150px;
  height: 150px;
  /* border: 2px solid black; Outer circle border */
  border-radius: 50%; /* Makes it circular */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}

.circleanimation span {
  position: relative;
  transform-origin: center center;
  animation: rotateText 7s linear infinite;
  font-size: 10px;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg) translateY(-60px);
  }
  100% {
    transform: rotate(360deg) translateY(-60px);
  }
}

.animation_inner_container {
  height: 300px;
  width: 400px;
  align-items: center;
  justify-content: center;
  
}

.right_slide {
  color: black;
  text-decoration: none;
}

.blinks {
  padding-top: 10px;
  padding-bottom: 10px;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-delay: 0s;
  position: relative;
  transition-timing-function: linear;
}

.blinks:hover {
  transform: translateX(20px);
  text-decoration: underline;
}

.fsz-20 {
  font-size: 20px;
}
.fsz-72 {
  font-size: 72px;
}

.putcenter {
  align-items: center;
  justify-content: center;
}
.ov_hidden {
  overflow: hidden;
}
.image_div_size {
  height: 300px;
  width: 450px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate_svg {
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: linear;
  position: relative;
}
